# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumentation
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt / Bower / npm
.grunt
bower_components
node_modules/
jspm_packages/
web_modules/

# Build outputs
build/
dist/
.next/
out/

# Caches and state
.cache/
.parcel-cache
.nuxt/
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.rpt2_cache/
.rts2_cache_*/

# TypeScript
*.tsbuildinfo

# Linting
.eslintcache
.stylelintcache

# Yarn / npm / pnpm
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.npm

# Environment variables
.env
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sw?

# OS files
.DS_Store
Thumbs.db

# Next.js static export (optional)
out/
